<div class="index-banner">
  <img src="assets/images/finally-banner.png" class="img-index">
  <img src="assets/images/finally-main.png" class="img-index">
  <img src="assets/images/finally-download.png" class="img-index downloadbtn">
  <img src="assets/images/finally-footer.png" class="img-index">
</div>

<!-- Include the jquery -->
<!--[if (lt IE 9)]>
<script src="../static/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
<![endif]-->
<!--[if (!IE)|(gte IE 9)]><!-->
<script src="../static/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
<!--<![endif]-->
<script type="text/javascript" src="/paaweb/resources/js/download.js"></script>
