<div class="panel panel-default panel-license">
  <div class="panel-body">
    
	<p>附件1：</p>
	<p class="title">中国农业银行金穗信用卡章程</p>

	<p class="subject">第一章 总  则</p>
	<p>第一条  为适应信用卡业务发展，维护相关当事人合法权益，根据国家法律、法规、规章及有关规定，特制定本章程。</p>
	<p>第二条  中国农业银行金穗信用卡（以下简称“信用卡”）是中国农业银行（以下简称“发卡银行”）发行的，给予持卡人一定授信额度，持卡人可在授信额度内先交易后还款的信用支付工具，具有消费信贷、转账结算、存取现金等功能。</p>
	<p>第三条  信用卡按发行对象分为个人卡和单位卡，个人卡又分为主卡和附属卡，单位卡分为商务差旅卡和商务采购卡；按信用等级分为钻石卡、白金卡、金卡和普卡；按信息载体分为磁条卡、芯片卡和磁条芯片复合卡；按是否带电子现金功能分为标准芯片卡和带电子现金的芯片卡；按币种分为单币种卡、双币种卡和多币种卡；按卡面上是否附加持卡人照片或持卡人提供的个性化图片，分为彩照卡和非彩照卡；按发行范围及面向群体地域的不同，分为全国性产品和区域性产品；按是否有免息还款期分为贷记卡和准贷记卡。信用卡使用不同信用卡组织或公司标识（包括但不限于银联、VISA、MasterCard、JCB，下同）。</p>
	<p>第四条  发卡银行、持卡人、担保人及其他相关当事人均须遵守本章程。</p>
	<p>第五条  章程所涉部分名词定义：“持卡人”指向发卡银行申请信用卡并获得卡片核发的个人；或指由单位向发卡银行申请并获得核发卡片，并由单位授权持有该卡片的人员。</p>
	<p>“授信额度”指发卡银行根据申请人的资信状况等为其核定、在卡片有效期内可使用的授信限额。</p>
	<p>“透支”指持卡人使用发卡银行为其核定的授信额度进行交易的方式，包括消费透支、取现透支、转账透支和透支扣收等。</p>
	<p>“记账日”指发卡银行将持卡人交易款项或根据规定将费用、利息等记入其信用卡账户的日期。</p>
	<p>“账单日”指发卡银行定期对持卡人的交易款项、费用等进行汇总，结计利息，计算出持卡人应还款额的日期。</p>
	<p>“到期还款日”指发卡银行规定的贷记卡持卡人应偿还其全部应还款额或最低还款额的最后日期。</p>
	<p>“免息还款期”指贷记卡持卡人除取现透支、转账透支交易外，其他透支交易从银行记账日起至到期还款日（含）之间可享受免息待遇的时间段。</p>
	<p>“全部应还款额”指截至当前账单日，贷记卡持卡人累计经发卡银行记账但未偿还的交易款项，以及利息、费用等的总和。</p>
	<p>“最低还款额”指发卡银行规定的贷记卡持卡人在到期还款日（含）前应偿还的最低金额，包括累计未还各类交易本金、费用及利息的一定比例、超过账户信用额度的欠款金额、发卡机构规定的持卡人应该偿还的其他欠款金额以及以前月份最低还款额未还部分的总和。</p>
	<p>“超限费” 指贷记卡持卡人累计未还交易金额超过发卡银行为其核定的授信额度时，按规定向发卡银行支付的费用。</p>
	<p>“滞纳金”指贷记卡持卡人未能在到期还款日（含）前偿还最低还款额，按规定向发卡银行支付的费用。</p>
	<p>“电子现金”指发卡银行按照卡组织标准发行的用于小额支付的芯片卡应用，具有圈存、圈提及消费等功能。</p>
	<p>“圈存”是指增加芯片卡中电子现金余额的交易过程。</p>
	<p>“圈提”是指减少芯片卡中电子现金余额至零的交易过程。</p>

	<p class="subject">第二章 申  领</p>
	<p>第一条  年满18周岁，具有完全民事行为能力，且资信良好的个人可凭本人有效身份证件和相关资料向发卡银行申领个人卡主卡。个人卡主卡持卡人还可为年满14周岁的个人申领附属卡。主卡持卡人有权要求注销或止付其附属卡（电子现金账户除外），附属卡所有交易款项均计入主卡账户。</p>
	<p>第二条  凡在中华人民共和国境内金融机构开立基本存款账户的单位（政府部门、法人机构或其他组织）可凭中国人民银行核发的开户许可证和相关资料向发卡银行申领单位卡。申领单位可书面指定具有完全民事行为能力的个人作为单位卡持卡人，并可书面申请增加或注销持卡人用卡资格；持卡人所有交易款项均记入申领单位账户。</p>
	<p>第三条  单位和个人申领信用卡，应按发卡银行规定，正确、真实地填写申请表，并与发卡银行书面签订领用合约，提交发卡银行要求的相关证明文件。如采用担保方式办卡，需要按发卡银行的规定办理担保手续。</p>

	<p class="subject">第三章 使用及账户管理</p>
	<p><strong>第一条  持卡人领卡后应及时办理卡片启用，立即在卡片背面签名栏内签上与申请表相同的签名，并在用卡交易时须使用相同的签名，否则由此产生的损失由持卡人承担。持卡人与发卡银行另有约定的除外。</strong></p>
	<p>第二条  持卡人在境内外的消费、取现、转账等交易须遵守国家法律、法规和规章，及发卡银行、特约商户、信用卡组织或公司等的相关规定；在境内外提取现金的限额按国家相关法律法规规定执行。单位卡在境内不能直接提取现金。</p>
	<p>第三条  持卡人可在境内外带有卡面上信用卡组织或公司标识或发卡银行指定的特约商户（含网上商户）、营业网点、自助设备、手机银行或其他受理点使用，并可享受发卡银行提供的相关服务。</p>
	<p>第四条 <strong> 持卡人使用密码、签名(含电子签名）、指纹办理或凭磁条、芯片、卡号等电子数据办理交易时所产生的纸质或电子信息记录，均属于交易的有效凭证。持卡人与发卡银行另有约定的除外。</strong>电子现金消费交易不校验密码，凡使用电子现金进行的消费交易均视为持卡人本人所为。持卡人应在安全的技术和商户环境下在互联网上用卡，否则持卡人须对该卡在互联网上使用所导致的风险和损失自行承担责任。</p>
	<p>第五条  信用卡设有效期。<strong>有效期满，发卡银行依据相关规定及持卡人历史用卡记录等情况，决定是否为持卡人换发新卡。持卡人不愿继续使用卡片，至少在卡片到期时提前两个月前通知发卡银行。</strong>持卡人也可在卡片有效期满前，主动联系发卡银行办理换卡手续。换发新卡时，使用担保方式办卡的，重新办理相关担保手续。持卡人使用信用卡所产生的债权债务关系不因卡片失效而终止。如因发卡银行与合作单位、信用卡组织或公司合作终止等原因导致无法补换卡的，发卡银行可根据持卡人的现有资信状况、用卡情况等发放其他卡种的卡片。</p>
	<p>第六条  持卡人有卡片损坏换卡、修改密码或密码遗忘重置需要的，可通过发卡银行提供的渠道办理相关业务。</p>
	<p>第七条  信用卡遗失、被盗或遭他人占有时，持卡人应立即通过发卡银行客服热线、营业网点等渠道办理挂失，挂失手续办妥，立即生效。持卡人对挂失生效后信用卡发生的交易不承担责任（电子现金交易除外），持卡人对该交易存在欺诈、串通他人欺诈或其他不诚信行为除外。<strong>挂失生效前信用卡产生的损失由持卡人承担，但发卡银行与持卡人另有约定的除外。</strong>挂失后如需补办新卡，可按照规定办理补办手续。带电子现金的芯片卡补卡时，补发的新卡电子现金账户余额为0元。</p>
	<p>第八条  持卡人在境外带有VISA、MasterCard、JCB等国外信用卡组织或公司的受理点交易的款项，或在发卡银行指定营业网点等办理外币业务时，均记入外币账户，在境外的交易由银联提供人民币清算服务的，记入人民币账户；在境内通过发卡银行指定的特约商户、营业网点、自助设备和具有银联标识的受理点交易的款项，均记入人民币账户（外币业务除外）。</p>
	<p>第九条  个人卡人民币账户欠款，持卡人可用现金或转账方式偿还；外币账户欠款，持卡人可用外币现钞或外汇存款偿还，也可用人民币购汇偿还。</p>
	<p>第十条  单位卡人民币账户欠款，申领单位须从其基本存款账户以转账方式偿还；外币账户欠款，申领单位从其外汇账户转账存入或参照外汇管理相关制度对外币欠款进行购汇还款。监管部门与发卡银行另有规定的除外。</p>
	<p>第十一条  持卡人选择约定账户自动还款方式的，发卡银行将于到期还款日从其指定的在发卡银行开立的存款账户中扣收相应的款项，用于归还其欠款。</p>
	<p>第十二条  发卡银行对持卡人的还款，正常还款时，贷记卡还款顺序为：费用、利息、上期预借现金、上期消费欠款、本期预借现金、本期消费欠款；准贷记卡还款顺序为：费用、利息、透支本金。逾期1～90天（含）的，按照先各项费用、利息、后本金的顺序进行偿还；逾期91天（含）以上的，按照先本金、后利息、各项费用的顺序进行偿还。</p>
	<p>第十三条  持卡人或申领单位在卡片有效期内或到期后不再用卡的，在结清全部交易款项、透支本息和费用后，可按照发卡银行相关规定办理销户手续。单位卡销户时，人民币账户资金转回其基本存款账户，外币账户资金转入其外币账户，不得提取现金或现钞，监管部门与发卡银行另有规定的除外。销户后，发卡银行保留对该卡片在此后发生的、因非本行原因而导致的有效交易款项及相应的利息、费用的追索权。</p>

	<p class="subject">第四章 计息及费用管理</p>
	<p>第一条  贷记卡计息规定</p>
	<p> （一） 贷记卡透支金额从银行记账日起计息，日利率为万分之五，按月计收复利并从持卡人账户中扣收。透支利率如有变动，按中国人民银行与发卡银行的有关规定执行。</p>
	<p> （二） 对当期账单本期发生的除取现透支、转账透支交易外的其他透支交易，持卡人在到期还款日前（含）偿还全部应还款额的，则无须支付透支利息，享受自银行记账日至到期还款日期间的免息待遇。免息还款期最长为56天，发卡银行与申领单位／申领人另有约定的除外。持卡人未能按期偿还全部应还款额的，不享受免息还款期待遇。取现、转账及不符合免息条件的交易款项自银行记账日起计息。未能按期偿还最低还款额的（单位卡不享受最低还款额待遇），还应就最低还款额的未偿还部分支付一定比例的滞纳金。持卡人申请并开通超授信额度用卡服务，且在本周期账单日营业终了前未能偿还超额部分，还应就超额部分支付一定比例的超限费。</p>
	<p> （三） 贷记卡账户内存款视为超额还款。发卡银行对持卡人贷记卡账户内的超额还款不计付利息，持卡人提取时需支付手续费。发卡银行另有规定的除外。</p>
	<p>第二条  准贷记卡计息规定</p>
	<p> （一）准贷记卡的最长透支期限为60天，持卡人须在首笔透支发生后的60天内归还银行借款和相应利息。透支利息从银行记账日起计算，日利率为万分之五，按月计收单利并从持卡人账户中扣收。透支利率如有变动，按中国人民银行的有关规定执行。</p>
	<p> （二）在准贷记卡下可同时开立人民币活期账户及多个人民币定期子账户，账户内的存款按照中国人民银行规定存款利率及计息方式记付利息，按照税务机关规定的税率代扣代缴储蓄存款利息所得个人所得税。</p>
	<p>第三条  带电子现金的芯片卡电子现金账户不计付利息。</p>
	<p>第四条  发卡银行按照对外统一规定的收费项目及标准收取费用。相关标准详见发卡银行营业网点公告或通过网站等渠道查询。若持卡人未按公告内容支付费用，发卡银行可终止提供相应服务。收费项目、收费标准、收费方式如有变动，以发卡银行最新公告为准。</p>

	<p class="subject">第五章 发卡银行的权利与义务</p>
	<p>第一条  发卡银行的权利</p>
	<p> （一）发卡银行有权审查申请人资信状况，在法律许可情况下向任何有关方面核实申请人资料，了解申请人资信、财产等情况，并在业务范围内索取、留存申请人个人资料，有权根据申请人资信状况确定是否要求其提供担保，并根据申请人的申请资料及资信状况决定是否发卡、发卡种类和授信额度。发卡银行受理申请人申请后，无论是否同意其办卡申请，申请表及相关资料均不予退还。</p>
	<p> （二）发卡银行有权根据持卡单位或持卡人用卡情况、资信变动情况或其他因素，对持卡单位的总授信额度或个人卡持卡人的信用卡额度进行调整，必要时要求其提供担保，或暂停持卡人信用卡使用（电子现金除外），并按约定方式及时通知持卡人。持卡人不遵守相关法律、法规、规章，以及本章程和领用合约约定的，发卡机构有权取消持卡人用卡资格。</p>
	<p> （三）若持卡人未依约还款或有违规欺诈行为的，发卡银行有权采取如下一种或几种措施：自行或委托第三方通过信函、短信、电子邮件、电话、上门、公告或司法渠道等方式向其催收欠款；停止该卡使用（电子现金除外）；停用持卡人在发卡银行的所有信用卡；行使担保权利人的各项权利；从持卡人在发卡银行任何分支机构开立的任何账户中直接扣收。发卡银行保留提请司法机关追究有关当事人的法律责任及追偿当事人所造成发卡银行损失的权利。</p>
	<p> （四）发卡银行为持卡人的交易累计积分或向持卡人提供增值服务的，发卡银行保留变更积分累计规则、增值服务种类及内容的权利。</p>
	<p><strong> （五）因供电、通讯、系统故障等原因导致持卡人用卡受阻的，发卡银行可视情况协助持卡人解决问题或提供必要的帮助。对交易过程中，因网络通讯故障或其他原因造成的错账现象，发卡银行有权根据实际交易情况进行账务处理。</strong></p>
	<p>第二条  发卡银行的义务</p>
	<p> （一）发卡银行应通过多种渠道向申请人提供信用卡使用的有关资料，包括章程、领用合约、使用说明、收费项目及标准等。</p>
	<p> （二）发卡银行应设立24小时客服热线，向持卡人提供业务咨询、账户查询、争议或投诉受理及挂失办理等服务。</p>
	<p> （三） 发卡银行应对有交易发生或虽未发生交易但账户有未清偿欠款的（欠款不超过10元人民币或1美元（或等值外币）的情况除外），通过纸质账单、电子账单、彩信账单等方式向持卡人提供对账服务，双方另有约定的除外。</p>
	<p> （四）发卡银行应依法对持卡人的信息承担保密义务，但国家法律、法规、规章及金融监管机构另有规定、持卡人与发卡银行另有约定、发卡银行在进行催收和追索债务等特殊情况时除外。</p>

	<p class="subject">第六章 申请人、持卡人的权利与义务</p>
	<p>第一条  申请人、持卡人的权利</p>
	<p> （一）持卡人有权享有发卡银行承诺的各项服务，有权监督发卡银行的服务质量，并对与承诺不符的服务进行投诉。</p>
	<p> （二）申请人、持卡人有权知悉信用卡的功能、使用方法、收费项目及标准、适用利率。</p>
	<p> （三）持卡人有权向发卡银行索取对账单，或通过发卡银行客服热线、网上银行等有关服务渠道了解其账务变动情况。</p>
	<p> （四）持卡人对信用卡交易和账户情况有疑问的，有权在规定时间内向发卡银行提出查询要求。</p>
	<p>第二条  申请人、持卡人的义务</p>
	<p> （一）申请人应向发卡银行提供真实、有效的申请资料。</p>
	<p> （二）主卡持卡人应承担信用卡（含附属卡）项下发生的全部债务，并按时偿还欠款。对贷记卡还款，如持卡人选择约定账户还款方式的，应当在发卡银行指定时间段内保证绑定还款账户有足够余额，且绑定账户状态正常。<strong>持卡人应注意查收对账单，如未按时收到对账单，应及时查询，不得以未收到对账单为由拒绝偿还欠款；不得以与特约商户或其他第三方机构发生纠纷为由拒绝偿还所欠发卡银行的款项；不得利用信用卡进行虚假交易等欺诈活动套取资金、积分、奖品或增值服务。 </strong></p>
	<p><strong> （三）持卡人应妥善保管信用卡及其卡片信息、密码、交易凭证和身份证件等，不得将信用卡卡片信息、密码等相关信息泄漏给他人，且不得出租或转借信用卡，否则应自行承担由此产生的后果或损失。</strong></p>
	<p> （四）持卡人在申请表中所填内容变更时，须立即通知发卡银行办理资料变更，否则应自行承担由此产生的后果或损失。</p>
	<p>	（五）发卡银行因持卡人交易及还款记录良好而调高持卡人授信额度的，如持卡人不愿调高其授信额度，应及时通过客服热线、营业网点等渠道向发卡银行提出，但仍需清偿已经发生的交易款项、利息及费用。</p>

	<p class="subject">第七章 附  则</p>
	<p>第一条  本章程未尽事宜，按照国家有关法律、法规、规章以及信用卡领用合约执行，如发卡银行与持卡人另有约定的，遵从双方约定。信用卡交易还须执行有关信用卡组织或公司的规定。</p>
	<p>第二条  本章程由中国农业银行制定、修改，向国家有关部门备案后执行。修改时将进行公告，自公告之日起45日后生效。持卡人不接受该修改，可在公告期内办理销户手续。公告期满，持卡人未办理销户手续的，视为同意章程的变更。</p>
	<p>第三条  中国农业银行发布的公告与本章程相关内容不一致的，以发布在后的为准。</p>
	<p>第四条  本章程生效后，原《中国农业银行金穗贷记卡章程》、《中国农业银行金穗准贷记卡章程》同时废止。</p>
	<a href="javascript:history.back();">返回</a>
  </div>
</div>
